<footer class="page-footer font-small bg-dark pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Fale conosco</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <ul class="social-network">
        <li>
          <a href="https://mail.google.com" target="_blank" class="iconEmail"
            ><img src="../../assets/img/gmail.png" alt=""></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/luiza-souza-06b1b0202/" target="_blank" class="iconLinkedin"
            ><img src="../../assets/img/linkedin.png" alt=""></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright bg-secondary text-center py-3">
    <span class="text-light">© 2022 Copyright:<a class="text-light" target="_blank" href="https://github.com/piqueluizao"> Luiza Souza</a> </span>
    
  </div>
</footer>
